<div class="card">
    <div class="card-body">
      <h5 class="card-title">About me</h5>
      <p class="card-text" style="font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif ;">"I'm a former pharmacist who transitioned into software engineering through a 9-month ITI open-source program. In under a month, I got the hang of the C language and swiftly gained proficiency in Java, Object-Oriented Programming (OOP), and SQL. All this, while I balanced my responsibilities as a medical representative working morning and evening shifts. This experience reflects my exceptional dedication and ability to adapt quickly to new challenges.</p>
      <button type="button" class="btn btn-secondary btn-lg">download my resume</button>
    </div>
  </div>